body {
    margin: 0;
    font-family: Arial;
    color: #f5d68a;
    background: #000;
}

body{
    font-family:'Brush Script', Brush Script;
}

/* Menu lat */
#menu {
    position: fixed;
    top: 0;
    left: -220px;
    width: 220px;
    height: 100%;
    background: #111;
    padding-top: 60px;
    transition: 0.4s;
    border-right: 2px solid #d4a043;
}

#menu a {
    display: block;
    padding: 15px;
    color: #f5d68a;
    text-decoration: none;
    font-size: 18px;
}

/* Panino hamb*/
.hamburger {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    background: #f5d68a;
    display: block;
    height: 4px;
    border-radius: 5px;
    margin: 5px 0;
    transition: 0.4s;
}

.hamburger.attivo span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.attivo span:nth-child(2) {
    opacity: 0;
}

.hamburger.attivo span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* titoli animati */
.titolo-animato {
    font-size: 3em;
    text-align: center;
    animation: fireGlow 2s infinite alternate;
}

@keyframes fireGlow {
    from { text-shadow: 0 0 10px #ffb347; }
    to   { text-shadow: 0 0 30px #ff6a00; }
}

header, section {
    text-align: center;
    padding: 40px;
}

/* Api risultati bzz */
#risultati {
    margin: 20px;
    padding: 10px;
    background: #111;
    border: 1px solid #d4a043;
    border-radius: 8px;
}

.contenitore-bordi{
    width: 80%;
    margin: 50px auto;
    border: 2px;
    padding: 20px;
}

.testo-centrato{
    text-align: center;
}


#bottoneSegreto {
    display: none;
}

